$classNamePrefix: lg-demo-view;


.#{$classNamePrefix}-root{
  width: 100%;
  margin-top: 10px;
  .#{$classNamePrefix}-title{
    font-size: 20px;
    color: #333;
    font-family: MicrosoftYaHei, serif;
    font-weight: bold;
  }
  .#{$classNamePrefix}-subtitle{
    margin-top: 7px;
    font-size: 14px;
    color: #666;
  }
  .#{$classNamePrefix}-component-area{
    margin-top: 14px;
    width: 100%;
    height: fit-content;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    border: 1px solid #e5e5e5;
    padding: 38px 38px 38px 48px;
    box-sizing: border-box;
  }

}