@import "../index";
@import "../mixin";

.lg-tag-a-root{
  width: fit-content;
  height: 24px;
  background-color: #094194;
  border-radius: 12px;
  opacity: 0.16;
  font-size: 14px;
  color: #ffffff;
  @include flexCenter;
  padding: 0 12px;
}

.lg-tag-b-root{
  display: inline-block;
  position: relative;

  //由于需要无限缩放，因此迁移到了js
  //@mixin iconBoxShadow($colorType, $rgb){
  //  &.lg-tag-b-color-type-#{$colorType}{
  //    .lg-tag-b-icon{
  //      box-shadow: 0 10px 10px -10px $rgb;
  //    }
  //  }
  //}
  //$colorTypes: (primary, #30abff),(success, #6ec632),(warning, #ff8b38),(disabled, #a2a2a2);
  //@each $colorType, $rgb in $colorTypes {
  //  @include iconBoxShadow($colorType, $rgb);
  //}

  .lg-tag-b-text{
    @include positionAbsoluteFill;
    @include flexCenter;
    color: #fff;
  }
}


.lg-tag-c-root{
  display: inline-block;
  position: relative;
  transform: rotate(-20deg);
  .lg-tag-c-icon{
    @include positionAbsoluteFill;
    transform: rotate(20deg);
  }
  .lg-tag-c-text{
    @include positionAbsoluteFill;
    @include flexCenter;
  }
}

.lg-tag-d-root{
  display: inline-block;
  position: relative;
  transform: rotate(-45deg);
  .lg-tag-d-icon{
    @include positionAbsoluteFill;
    transform: rotate(45deg);
  }
  .lg-tag-d-text{
    @include positionAbsoluteFill;
    display: flex;
    justify-content: center;
    color: #fff;
    top: 20px;
  }
}