@import "../alert/common.scss";
.table_container {
    padding: 20px;
    .table_item {
        width: 700px;
        margin-bottom: 20px;
    }
    .positive-row {
        background-color: rgba(rgb(255, 0, 0),0.5);
    }
    .el-table__fixed-footer-wrapper{
    }
}
