@import "../index.scss";
.lg_page_warp {
    display: inline-block;
    font-size: 14px;
    font-family: "微软雅黑";
}
.lg_page_text {
    color: #333;
    line-height: 28px;
}
.lg_page_warp {
    span, input {
        display: inline-block;
        height: 28px;
        box-sizing: border-box;
        vertical-align: middle;
        text-align: center;
    }
}
.lg_page_number, .lg_page_input {
    color: #1ca6fe;
    border-radius: 3px;
    line-height: 26px;
}
.lg_page_number {
    min-width: 28px;
    text-align: center;
    margin: 0 2px;
    cursor: pointer;
	border: 1px solid #ccc;
}
.lg_page_input {
    width: 36px;/*特殊修改*/
    border: solid 1px #d9d9d9;
}
.lg_page_input:hover {
    border-color: #1ca6fe;
}
.lg_page_btn {
    font-family: "宋体";
    font-size: 16px;
    font-weight: bolder;
}
.lg_page_cur_page, .lg_page_number:hover {
    color: #fff!important;
    background-color: #1ca6fe;
    border: 0;
    line-height: 28px;
}
.lg_page_cur_page {
    cursor: default;
}
.lg_page_warp_B {
    .lg_page_number {
        width: 16px;
        height: 16px;
        min-width: 16px;
        line-height: 16px;
        border: none;
        font-size: 12px;
        background-color: #cccccc;
        color: #fff;
    }
    .lg_page_cur_page, .lg_page_number:hover {
        background-color: #1ca6fe;
    }
}

.lg_page_number_c {
    background-color: #eee;
    cursor: pointer;
}
.lg_page_cur_page_c {
    background-color: $color_s2;
    cursor: default;
}
.lg_page_warp_C {
    .lg_page_number_c {
        display: inline-block;
        width: 30px;
	    height: 8px;
        margin: 0 3px;
    }
}
.lg_page_warp_C1 {
    .lg_page_number_c {
        display: inline-block;
        width: 12px;
	    height: 12px;
        border-radius: 50%;
        margin: 0 6px;
    }
}
@each $skin, $color, $imgColor in $all_colors {
    #{$skin} {
        .lg_page_number, .lg_page_input {
            color: $color;
        }
        .lg_page_number, .lg_page_input:hover {
            border-color: $color;
        }
        .lg_page_cur_page, .lg_page_number:hover {
            background-image: $imgColor;
        }
        .lg_page_cur_page_c {
            background-color: $color;
        }
    }
}
.lg_page_ban_btn, .lg_page_ban_btn:hover {
    color: #fff!important;
    border: 0;
    line-height: 28px;
    background-color: #ccc!important;
    background-image: none !important;
    cursor: default;
}