$classNamePrefix: lg-edit-system-layer;
.#{$classNamePrefix}-root{
    &-url{
      flex: 1;
      width: auto;

      &-value{
        font-size: 15px;
        color: #000;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
}