.el-collapse-item__header{
  height: 55px;
  line-height: 1;
  padding-left: 0;
  color: #333333;
  border-bottom: none;
  font-size: 14px;
}
.el-collapse-item__header__arrow{
  display: none;
}
.school-system-back{
  font-size: 15px;
  line-height: 42px;
  margin-left: 10px;
  cursor: pointer;
}