.open_layer {
    display: flex;
    padding-left: 25px;
    input {
        margin: 20px 15px;
    }
}
.open_1 {
    width: inherit;
    height: inherit;
}
.open-layer {
    border: none;
    background-color: rgb(88, 149, 228);
    color: rgb(240, 240, 240);
    padding: 10px 15px;
    border-radius: 2px;
    margin: 10px;
    cursor: pointer;
}

.open-layer:hover {
    background-color: rgba(88, 149, 228, 0.884);
    color: rgb(255, 255, 255);


}
