@import "../../components/mixin";


@keyframes flashing {
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0.5;
  }

  100%{
    opacity: 1;
  }
}

.lg-code-view-root {
  border-radius: 4px;
  width: 100%;
  &.lg-code-view-can-hidden{
    .lg-code-view-area{
      .prettyprint{
        border-bottom: 0;
      }
    }
  }
  .lg-code-view-area{
    //height: 0;
    transition: height .5s;
    overflow-y: hidden;
    .prettyprint{
      margin: 0;
      border: 1px solid #e5e5e5;
      .code_block {
        padding: 10px 20px;
        border: 1px solid #e2ecf4;
        background-color: #f7f7f7;
      }
    }
  }
  .lg-code-view-show-button{
    width: 100%;
    height: 36px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    cursor: pointer;
    @include flexCenter;
    &:hover{
      background-color: #f9fafc;
    }
    .lg-code-view-show-text{
      color: #20a0ff;
      display: block;
      transform: translateX(20%);
      transition: .3s;
      width: fit-content;
      height: fit-content;
      position: relative;
      animation: flashing 2s infinite;
      &:before{
        position: relative;
        top: 16px;
        content: "";
        width: 0;
        height: 0;
        border: 8px solid;
        border-color: #20a0ff transparent transparent transparent;
        margin-right: 2px;
      }
      &.on-show{
        animation: none;
      }
      &.on-show:before{
        top: -12px;
        border-color: transparent transparent #20a0ff transparent;
      }
    }
  }
}