$classNamePrefix: lg-flex-fill-view-frame;

.#{$classNamePrefix}-root{
  display: flex;
  height: 100%;
  width: 100%;
  &.#{$classNamePrefix}-horizontal{
    flex-direction: row;
  }
  &.#{$classNamePrefix}-vertical{
    flex-direction: column;
  }
}