@import "../mixin";

.lg-empty-root {
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &.lg-empty-icon-1 {
    $icon1Height: 100px;

    .lg-empty-icon {
      width: $icon1Height * 1.2;
      height: $icon1Height;
    }
  }

  &.lg-empty-icon-2 {
    $icon2Height: 60px;

    .lg-empty-icon {
      width: $icon2Height * 1.507;
      height: $icon2Height;
    }
  }


  .lg-empty-tip {

  }
}