.lg_charts_container{
    margin:20px;
    padding: 20px;
}
.lg_charts_item {
    width: 100%;
    margin-bottom: 20px;

    .lg_charts_item_title {
        color: #1f2f3d;
        font-family: Helvetica Neue;
        font-size: 22px;
        line-height: 40px;
    }
}