
* {
    box-sizing: border-box;
  }
body {
  font-size: 14px;
  margin: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear::before, .clear::after {
  display: block;
  content: "";
  clear: both;
}
.oneline {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
