@import "../index.scss";
@keyframes rotateRound {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#Lg_alert_root {
    -moz-user-select: none; /* 火狐 */
    -webkit-user-select: none; /* 谷歌 */
    -ms-user-select: none; /* IE */
    user-select: none;
    .lg_alert_container_box {
        position: fixed;
        z-index: 19000;
        transition: all 0.5s;
        min-height: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        justify-content: center;
        width: -moz-fit-content;
        width: fit-content;
        height: -moz-fit-content;
        height: fit-content;
        .lg_alert_body {
            position: relative;
            width: fit-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.315);
            margin-bottom: 10px;
            .lg_alert_body_box {
                display: flex;
                justify-content: center;
                align-items: center;
                .lg_alert_body_icon {
                }
                .tip_icon_type_item {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: pink;
                    margin-right: 10px;
                }

                .tip_icon_type0 {
                    background-color: rgb(33, 33, 255);
                }
                .tip_icon_type1 {
                    background-color: rgb(255, 87, 87);
                }
                .tip_icon_type2 {
                    background-color: rgb(255, 0, 0);
                }
                .tip_icon_type3 {
                    background-color: rgb(78, 255, 55);
                }
                .tip_icon_type4 {
                    animation: rotateRound 1s linear infinite;
                    background: conic-gradient(from 90deg at 50% 50%, #fff 0deg, currentColor 1turn);
                    mask: radial-gradient(transparent calc(50% - 0.5px), #fff 50%);
                    -webkit-mask: radial-gradient(transparent calc(50% - 0.5px), #fff 50%);
                    background: conic-gradient(from 90deg at 50% 50%, rgba(0, 82, 217, 0) 0deg, rgb(0, 82, 217) 360deg);
                }
                .tip_icon_type4_loading {
                    animation: rotateRound 1s linear infinite;
                    background: conic-gradient(from 90deg at 50% 50%, #fff 0deg, currentColor 1turn);
                    mask: radial-gradient(transparent calc(50% - 0.5px), #fff 50%);
                    -webkit-mask: radial-gradient(transparent calc(50% - 0.5px), #fff 50%);
                    background: conic-gradient(from 90deg at 50% 50%, rgba(0, 82, 217, 0) 0deg, rgb(0, 82, 217) 360deg);
                }
                .tip_icon_type5 {
                    background-color: rgb(217, 255, 0);
                }
                .tip_icon_type6 {
                    background-color: rgb(214, 214, 214);
                }
                .tip_icon_type6 {
                    background-color: rgb(214, 214, 214);
                }
            }
            .lg_alert_body_close_box {
                margin-left: 20px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.2);
                position: relative;
                cursor: pointer;
                &::after {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 1px;
                    background-color: rgba(0, 0, 0, 0.5);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &::before {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 10px;
                    background-color: rgba(0, 0, 0, 0.5);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }
    .lg_alert_container_box_left_top {
    }
    .lg_alert_container_box_center_top {
    }
    .lg_alert_container_box_right_top {
    }
    .lg_alert_container_box_left_center {
    }
    .lg_alert_container_box_center_center {
    }
    .lg_alert_container_box_right_center {
    }
    .lg_alert_container_box_left_bottom {
    }
    .lg_alert_container_box_center_bottom {
    }
    .lg_alert_container_box_right_bottom {
    }
}
