.el-collapse-item__header{
  height: 55px;
  line-height: 1;
  padding-left: 0;
  color: #333333;
  border-bottom: none;
  font-size: 14px;
}
.el-collapse-item__header__arrow{
  display: none;
}
.header-seach-total {
  line-height: 36px;
  margin-left: 16px;
}

.header-seach-wrap {
  margin-right: 10px;
}

