@import "../index.scss";
.lg_popLayer_big_container {
    position: fixed;
    inset: 0;
    background-color: transparent;

    .lg_popLayer_container {
        position: fixed;
        height: fit-content;
        width: fit-content;
        height: 0;
        top: 50%;
        left: 50%;
        background-color: transparent;
        transform: translateY(100%) scale(0);
        overflow: hidden;
        background-color: #fff;
        opacity: 0;
        transition: opacity, transform 0.3s;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        .lg_popLayer_top {
            line-height: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 48px;
            padding: 0 20px;
            box-sizing: border-box;
            background: url("./image/top_bg.png") no-repeat;
            background-size: 100% 100%;
            cursor: move;
            user-select: none;
            transition: 0.1s all;
            .lg_popLayer_top_title {
                color: #fff;
                font-family: MicrosoftYaHei;
                font-size: 18px;
            }
            .lg_popLayer_top_close {
                color: #666;
                cursor: pointer;
                background: url("./image/pop_page_close.png") no-repeat;
                width: 18px;
                height: 18px;
                cursor: pointer;
            }
            .lg_popLayer_top_close:hover {
                background-position: 0 0;
            }
            .lg_popLayer_top_custom_header {
                width: 100%;
                height: 100%;
            }
        }
        .lg_popLayer_main {
            height: calc(100% - 48px);
            width: 100%;
            overflow: hidden;
            overflow-y: scroll;
            box-sizing: border-box;
            word-break: break-word;
            white-space: normal;
            padding: 24px;
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }
        .lg_popLayer_bottom {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height: fit-content;
            background-color: #e8eff7;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 20px;
            box-sizing: border-box;
            user-select: none;
            .lg_popLayer_bottom_cho_box {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 56px;
                .lg_popLayer_bottom_confirm_box {
                    .lg_popLayer_bottom_confirm_input {
                        background-image: linear-gradient(90deg, #74b002 0%, #84c801 100%),
                            linear-gradient(#d0d0d0, #d0d0d0);
                        line-height: 30px;
                        padding: 0 24px;
                    }
                }
                .lg_popLayer_bottom_close_box {
                    padding-left: 12px;
                    .lg_popLayer_bottom_close_input {
                        line-height: 28px;
                        padding: 0 23px;
                        // background-image: linear-gradient(90deg, #0096ff 0%, #00a8ff 100%),
                        //     linear-gradient(#d0d0d0, #d0d0d0);
                        border: 1px solid #0096ff;
                        background-color: #f2f2f2;
                        color: #0096ff;
                        box-sizing: border-box;
                    }
                }
                .input_item {
                    cursor: pointer;
                    font-size: 16px;
                    white-space: nowrap;
                    border: 0px;
                    color: #fff;
                    height: 30px;
                    border-radius: 2px;
                    text-align: center;
                    cursor: pointer;
                    line-height: 1;
                    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .lg_popLayer_bottom_cho_box_custom_bottom {
                width: 100%;
                height: 100%;
            }
        }
    }
    .lg_popLayer_container_show {
        height: fit-content;
        opacity: 1;
        transform: translateY(0%) scale(1);
    }
    .lg_popLayer_main_hasBottom {
        .lg_popLayer_main {
            height: calc(100% - 104px);
            box-sizing: border-box;
        }
    }
    .lg_popLayer_main_noHasBottom {
        .lg_popLayer_main {
            padding-bottom: 0px;
            box-sizing: border-box;
        }
    }
    .lg_popLayer_container_coverLayer {
        position: fixed;
        inset: 0;
        background-color: #000;
        opacity: 0;
        filter: alpha(opacity=0);
        transition: 0.3s all;
    }
    .lg_popLayer_container_coverLayer_show {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }
}
.Lg_popLayer_root_cover_layer {
    background-color: pink;
    opacity: 0.5;
}

@each $skin, $color, $imgColor, $colorHover, $imgHColor,$popLayerBC,$popLayerC,$popLayerConfirmC in $all_colors {
    #{$skin} {
        .lg_popLayer_big_container {
            .lg_popLayer_container {
                .lg_popLayer_top {
                    background: $imgHColor;
                }
            }
        }
        .lg_popLayer_big_container
            .lg_popLayer_container
            .lg_popLayer_bottom
            .lg_popLayer_bottom_cho_box
            .lg_popLayer_bottom_confirm_box
            .lg_popLayer_bottom_confirm_input {
            background: $popLayerConfirmC;
        }
        .lg_popLayer_big_container
            .lg_popLayer_container
            .lg_popLayer_bottom
            .lg_popLayer_bottom_cho_box
            .lg_popLayer_bottom_close_box
            .lg_popLayer_bottom_close_input {
            color: $popLayerC;
            border-color: $popLayerBC;
        }
    }
}
