@import "../index.scss";
.lg_popLayer_big_container {
    position: fixed;
    inset: 0;
    background-color: transparent;

    .lg_popLayer_container {
        position: fixed;
        height: fit-content;
        width: fit-content;
        height: 0;
        top: 50%;
        left: 50%;
        background-color: #fff;
        transition: height 0.5s;
        overflow: hidden;
        .lg_popLayer_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 48px;
            padding: 0 20px;
            box-sizing: border-box;
            background: url("./image/top_bg.png") no-repeat;
            background-color: pink;
            background-size: 100% 100%;
            cursor: move;
            user-select: none;
            .lg_popLayer_top_title {
                font-size: 16px;
                color: #fff;
            }
            .lg_popLayer_top_close {
                color: #666;
                cursor: pointer;
                background: url("./image/pop_page_close.png") no-repeat;
                width: 18px;
                height: 18px;
                cursor: pointer;
            }
            .lg_popLayer_top_close:hover {
                background-position: 0 0;
            }
        }
        .lg_popLayer_main {
            height: calc(100% - 48px);
            width: 100%;
            overflow: hidden;
            overflow-y: scroll;
            box-sizing: border-box;
            word-break: break-word;
            white-space: normal;
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }

        .lg_popLayer_bottom {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            min-height: 40px;
            background-color: #e9eef2;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 20px;
            box-sizing: border-box;
            user-select: none;
            .lg_popLayer_bottom_cho_box {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 56px;
                .lg_popLayer_bottom_confirm_box {
                    .lg_popLayer_bottom_confirm_input {
                        background-image: linear-gradient(90deg, #74b002 0%, #84c801 100%),
                            linear-gradient(#d0d0d0, #d0d0d0);
                    }
                }
                .lg_popLayer_bottom_close_box {
                    padding-left: 20px;
                    .lg_popLayer_bottom_close_input {
                        background-image: linear-gradient(90deg, #0096ff 0%, #00a8ff 100%),
                            linear-gradient(#d0d0d0, #d0d0d0);
                    }
                }
                .input_item {
                    cursor: pointer;
                    float: right;
                    width: 80px;
                    height: 30px;
                    font-size: 14px;
                    white-space: nowrap;
                    border: 0px;
                    box-sizing: content-box;
                    color: #fff;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 6px;
                    color: #fff;
                    text-align: center;
                    cursor: pointer;
                    font-size: 14px;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .lg_popLayer_container_show {
        height: fit-content;
    }
    .lg_popLayer_main_hasBottom {
        .lg_popLayer_main {
            height: calc(100% - 105px);
            box-sizing: border-box;
        }
    }
    .lg_popLayer_main_noHasBottom {
        .lg_popLayer_main {
            padding-bottom: 0px;
            box-sizing: border-box;
        }
    }
    .lg_popLayer_container_coverLayer {
        position: fixed;
        inset: 0;
        background-color: #000;
        opacity: 0;
        filter: alpha(opacity=0);
        transition: opacity filter 1s;
    }
    .lg_popLayer_container_coverLayer_show {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }
}
.Lg_popLayer_root_cover_layer {
    background-color: pink;
    opacity: 0.5;
}
