.components-show-box {
    width: 60%;
    min-width: fit-content;
    //padding: 20px;
    line-height: 1.5;
    word-wrap: normal;
    white-space: normal;
    .components-show-big-title {
        position: relative;
        width: fit-content;
        font-size: 18px;
        font-weight: 600;
        &::after {
            content: "";
            width: 110%;
            height: 5px;
            background-color: pink;
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            border-radius: 2px;
        }
    }
    .components-show-use {
        font-size: 20px;
        font-weight: bold;
        line-height: 2;
    }
    .components-show-steps-box {
        width: 100%;
        .components-show-steps {
            line-height: 2.5;
            font-size: 16px;
        }
        .components-show-steps-code {
            font-size: 14px;
            border-radius: 10px;
            color: #fff;
            .props_container {
                .com {
                    white-space: normal;
                }
            }
        }
        .components-show-example {
            padding-top: 10px;
            font-size: 14px;
            line-height: 2;
            input {
                font-size: 14px;
            }
            .components-show-example-title {
                padding-left: 15px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: #000;
                }
            }
            .components-show-example-title-text {
                font-family: YouSheBiaoTiHei;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
                color: #0196ff;
                line-height: 1;
                padding-left: 10px;
                border-left: 4px solid #0196ff;
                margin-left: 15px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}
.comment_position {
    padding: 10px 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
    box-sizing: content-box;
    border-radius: 4px;
    transition: 0.2s;
    font-size: 16px;
    background-color: #009dff;
    color: rgb(241, 241, 241);
    box-shadow: 0 4px 10px 1px rgba(136, 136, 136, 0.452), 0 0px 6px 2px rgba(255, 255, 255, 0.699) inset;
    text-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.452);
}
.comment_position:hover {
    color: rgb(255, 255, 255);
    opacity: 0.85;
}
