.drawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background: rgba(0, 0, 0, 0.451);
    opacity: 0;
    transition: opacity .3s linear,height 0s ease .3s;
    pointer-events: none;
    .drawer_content {
        position: fixed;
        top: 0;
        height: 100%;
        background: #ffffff;
        transition: all 0.3s ;
    }
    .open_drawerA {
        left: 0 !important;
    }
    .open_drawerB {
        right: 0 !important;
    }
}
.open_screen{
    height: 100% !important;
    opacity: 1 !important;
    transition: none !important;
    animation: openSc .3s cubic-bezier(.23,1,.32,1) !important;
    pointer-events: auto !important;
}
@keyframes openSc {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
