$color_s1: #305e91;
$color_s2: #1ca6fe;
$color_s3: #1557c4;
$color_s4: #149e41;
$color_s5: #6446a9;
$color_k1: #347ed1;
$color_k2: #1ca6fe;

$color_s1_hover: #347ed0;
$color_s2_hover: #51bbff;
$color_s3_hover: #4784e9;
$color_s4_hover: #1ec15c;
$color_s5_hover: #9865b6;
$color_k1_hover: #347ed1;
$color_k2_hover: #1ca6fe;

$img_color_s1: linear-gradient(0deg, #347ed1 0%, #305e91 100%);
$img_color_s2: linear-gradient(0deg, #1ca6fe 0%, #1ca6fe 100%);
$img_color_s3: linear-gradient(0deg, #4885ea 0%, #1557c4 100%);
$img_color_s4: linear-gradient(0deg, #1fc35d 0%, #149e41 100%);
$img_color_s5: linear-gradient(0deg, #9966b6 0%, #6144a8 100%);
$img_color_k1: linear-gradient(0deg, #347ed1 0%, #305e91 100%);
$img_color_k2: linear-gradient(0deg, #347ed1 0%, #305e91 100%);

$img_h_color_s1: linear-gradient(-90deg, #347ed1 0%, #305e91 100%);
$img_h_color_s2: linear-gradient(-90deg, #1ca6fe 0%, #1ca6fe 100%);
$img_h_color_s3: linear-gradient(-90deg, #4885ea 0%, #1557c4 100%);
$img_h_color_s4: linear-gradient(-90deg, #1fc35d 0%, #149e41 100%);
$img_h_color_s5: linear-gradient(-90deg, #9966b6 0%, #6144a8 100%);
$img_h_color_k1: linear-gradient(-90deg, #347ed1 0%, #305e91 100%);
$img_h_color_k2: linear-gradient(-90deg, #347ed1 0%, #305e91 100%);

$popLayer_fail_B_color_s1: #7b98b9;
$popLayer_fail_B_color_s2: #5cc3ff;
$popLayer_fail_B_color_s3: #6994d9;
$popLayer_fail_B_color_s4: #69c186;
$popLayer_fail_B_color_s5: #9a87c7;
$popLayer_fail_B_color_k1: #347ed1;
$popLayer_fail_B_color_k2: #347ed1;

$popLayer_confirm_color_s1: #305e91;
$popLayer_confirm_color_s2: #00a1ff;
$popLayer_confirm_color_s3: #1557c4;
$popLayer_confirm_color_s4: #149e41;
$popLayer_confirm_color_s5: #6144a8;
$popLayer_confirm_color_k1: #347ed1;
$popLayer_confirm_color_k2: #347ed1;

$popLayer_fail_color_s1: #597ea7;
$popLayer_fail_color_s2: #33b4ff;
$popLayer_fail_color_s3: #4076cf;
$popLayer_fail_color_s4: #43b167;
$popLayer_fail_color_s5: #8169b9;
$popLayer_fail_color_k1: #347ed1;
$popLayer_fail_color_k2: #347ed1;






$all_colors: (".lg-skin-s1", $color_s1, $img_color_s1, $color_s1_hover, $img_h_color_s1, $popLayer_fail_B_color_s1, $popLayer_fail_color_s1, $popLayer_confirm_color_s1),
(".lg-skin-s2", $color_s2, $img_color_s2, $color_s2_hover, $img_h_color_s2, $popLayer_fail_B_color_s2, $popLayer_fail_color_s2, $popLayer_confirm_color_s2),
(".lg-skin-s3", $color_s3, $img_color_s3, $color_s3_hover, $img_h_color_s3, $popLayer_fail_B_color_s3, $popLayer_fail_color_s3, $popLayer_confirm_color_s3),
(".lg-skin-s4", $color_s4, $img_color_s4, $color_s4_hover, $img_h_color_s4, $popLayer_fail_B_color_s4, $popLayer_fail_color_s4, $popLayer_confirm_color_s4),
(".lg-skin-s5", $color_s5, $img_color_s5, $color_s5_hover, $img_h_color_s5, $popLayer_fail_B_color_s5, $popLayer_fail_color_s5, $popLayer_confirm_color_s5),
(".lg-skin-k1", $color_k1, $img_color_k1, $color_k1_hover, $img_h_color_k1, $popLayer_fail_B_color_k1, $popLayer_fail_color_k1, $popLayer_confirm_color_k1),
(".lg-skin-k2", $color_k2, $img_color_k2, $color_k2_hover, $img_h_color_k2, $popLayer_fail_B_color_k2, $popLayer_fail_color_k2, $popLayer_confirm_color_k2);




$table_Hbg_s1: #e6eff8;
$table_Hbg_s2: rgb(219, 238, 255);
$table_Hbg_s3: #d6e6ff;
$table_Hbg_s4: #d7fbe3;
$table_Hbg_s5: #ede9f8;
$table_Hbg_k1: #347ed1;
$table_Hbg_k2: #1ca6fe;

$table_Hc_s1: #305e91;
$table_Hc_s2: #399cd0;
$table_Hc_s3: #194ca1;
$table_Hc_s4: #0f8737;
$table_Hc_s5: #6446a9;
$table_Hc_k1: #000;
$table_Hc_k2: #000;

$table_Hover_bg_s1: #f6faff;
$table_Hover_bg_s2: #f2f9ff;
$table_Hover_bg_s3: #f3f8ff;
$table_Hover_bg_s4: #f0faf3;
$table_Hover_bg_s5: #f7f5fe;
$table_Hover_bg_k1: #347ed1;
$table_Hover_bg_k2: #1ca6fe;

$all_table_colors: (".lg-skin-s1", $table_Hbg_s1, $table_Hc_s1, $table_Hover_bg_s1),
(".lg-skin-s2", $table_Hbg_s2, $table_Hc_s2, $table_Hover_bg_s2),
(".lg-skin-s3", $table_Hbg_s3, $table_Hc_s3, $table_Hover_bg_s3),
(".lg-skin-s4", $table_Hbg_s4, $table_Hc_s4, $table_Hover_bg_s4),
(".lg-skin-s5", $table_Hbg_s5, $table_Hc_s5, $table_Hover_bg_s5),
(".lg-skin-k1", $table_Hbg_k1, $table_Hc_k1, $table_Hover_bg_k1),
(".lg-skin-k2", $table_Hbg_k2, $table_Hc_k2, $table_Hover_bg_k2);


$menu_light_active_text_s1: #194ca1;
$menu_light_active_text_s2: #0f8737;
$menu_light_active_text_s3: #0b99ff;
$menu_light_active_text_s4: #305e91;
$menu_light_active_text_s5: #6446a9;

$menu_dark_active_bc_s1: #194ca1;
$menu_dark_active_bc_s2: #0f8737;
$menu_dark_active_bc_s3: #0b99ff;
$menu_dark_active_bc_s4: #305e91;
$menu_dark_active_bc_s5: #6446a9;

$menu_light_hover_bc1: rgb(237,241,248);
$menu_light_hover_bc2: rgb(236,246,239);
$menu_light_hover_bc3: rgb(236,247,255);
$menu_light_hover_bc4: rgb(239,242,246);
$menu_light_hover_bc5: rgb(243,240,248);

$all_menu_colors: (".lg-skin-s1", $color_s1, $menu_light_active_text_s1, $menu_dark_active_bc_s1, $menu_light_hover_bc1),
(".lg-skin-s2", $color_s2, $menu_light_active_text_s2, $menu_dark_active_bc_s2, $menu_light_hover_bc2),
(".lg-skin-s3", $color_s3, $menu_light_active_text_s3, $menu_dark_active_bc_s3, $menu_light_hover_bc3),
(".lg-skin-s4", $color_s4, $menu_light_active_text_s4, $menu_dark_active_bc_s4, $menu_light_hover_bc4),
(".lg-skin-s5", $color_s5, $menu_light_active_text_s5, $menu_dark_active_bc_s5, $menu_light_hover_bc5);

:export {
  allSkin: "lg-skin-s1", "lg-skin-s2", "lg-skin-s3", "lg-skin-s4", "lg-skin-s5", "lg-skin-k1", "lg-skin-k2";
  skinName: "S1智慧经典", "S2商务蓝天", "S3蓝色海洋", "S4绿意盎然", "S5紫色天空"
}