@mixin flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin positionAbsoluteFill{
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  height: 100%;
  width: 100%;
}