@import "../index";

.el-picker-panel__icon-btn {
  color: $color_s1;
}

.el-date-picker__header-label.active, .el-date-picker__header-label:hover, .el-picker-panel__icon-btn:hover {
  color: $color_s1_hover;
}

.el-date-table td.current:not(.disabled), .el-date-table td.end-date, .el-date-table td.start-date {
  background-image: $img_h_color_s1;
  background-color: $color_s1 !important;
  color: #fff;
  border-radius: 50%;
}

.el-date-table td.today:before {
  border-top: .5em solid $color_s1;
}

.el-date-table td.today.current:before {
  border-top: none;
}

.el-date-table td.today {
  color: $color_s1;
}

.el-date-table td.available:hover {
  background-color: rgba($color_s1, 0.1);
}

.lg-date-picker-a {
  .el-input__inner:focus {
    border-color: $color_s1;
  }
}

@each $skin, $color, $imgColor, $colorHover, $imgHColor in $all_colors {
  #{$skin} {

    .lg-date-picker-a {
      .el-input__inner:focus {
        border-color: $color;
      }
    }

    .el-picker-panel__icon-btn {
      color: $color;
    }

    .el-date-picker__header-label.active, .el-date-picker__header-label:hover, .el-picker-panel__icon-btn:hover {
      color: $colorHover;
    }

    .el-date-table td.current:not(.disabled), .el-date-table td.end-date, .el-date-table td.start-date {
      background-image: $imgHColor;
      background-color: $color !important;
      color: #fff;
    }

    .el-picker-panel__icon-btn {
      color: $color;
    }

    .el-date-table td.today:before {
      border-top: .5em solid $color;
    }

    .el-date-table td.today {
      color: $color;
    }
  }
}