@import "../index";

.el-date-table td:hover{
  border-radius: 50%;
}

.el-date-table td.current:not(.disabled), .el-date-table td.end-date, .el-date-table td.start-date {
  background-color: #409eff !important;
  color: #fff;
  border-radius: 50%;
}

.el-date-table td.today.current:before {
  border-top: none;
}

.el-date-table td.today {
  color: #409eff;
}
.el-date-table td.start-date, .el-date-table td.end-date{
  color: #fff;
}

.el-date-table td.today:before{
  content: none;
}

.time-select-item.selected:not(.disabled):hover {
  background-color: #e4e8f1;
}

.time-select-item.selected:not(.disabled) {
  background-color: transparent;
  color: #48576a;
}
