.timeline_content {
    .timeline_item {
        position: relative;
        color: #282f38;
        font-size: 14px;
        min-height: 78px;
        padding-left: 6px;
        .timeline-item-dot-wrapper {
            position: absolute;
            text-align: center;
            height: 100%;
            left: 0;
            .timeline-item-dot-line {
                border-left-style: solid;
                width: 1px;
                border-left-width: 1px;
                border-color: #d9d9d9;
                left: 50%;
                transform: translateX(-50%);
                top: 18.0005px;
                bottom: -4.0005px;
                position: absolute;
                box-sizing: border-box;
            }
            .timeline-item-dot-content {
                width: 6px;
                height: 22.001px;
                line-height: 22.001px;
                position: relative;
                .timeline-item-dot {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #305e91;
                    box-sizing: border-box;
                    margin-top: -50%;
                    position: relative;
                    top: 50%;
                }
            }
        }
        .timeline-item-content-wrapper {
            margin-left: 16px;
            position: relative;
            .timeline-item-content {
                line-height: 1.5715;
                font-size: 14px;
                color: #333333;
                margin-bottom: 4px;
            }
            .timeline-item-label {
                color: #666666;
                font-size: 12px;
                line-height: 1.667;
            }
        }
    }
    .mode_right {
        .timeline-item-dot-wrapper {
            left: 50%;
        }
        .timeline-item-content-wrapper {
            left: 50%;
            width: 50%;
        }
    }
    .mode_left {
        .timeline-item-dot-wrapper {
            left: 50%;
        }
        .timeline-item-content-wrapper {
            margin-left: 0px;
            margin-right: 16px;
            left: 0%;
            width: 50%;
        }
    }
}
.timeline_contentB {
    display: flex;
    .timeline_itemB {
        padding-top: 6px;
        flex: 1;
        padding-left: 0;
        padding-right: 0;
        min-height: unset;
        position: relative;
        color: #1d2129;
        .timeline-item-dot-wrapper {
            position: absolute;
            text-align: center;
            left: 0;
            top: 0;
            height: auto;
            width: 100%;
            .timeline-item-dot-line {
                border-top-style: solid;
                left: 12px;
                right: 4px;
                border-left: none;
                border-color: #e5e6eb;
                height: 1px;
                border-top-width: 1px;
                top: 50%;
                transform: translateY(-50%);
                width: unset;
                bottom: -4.0005px;
                position: absolute;
                box-sizing: border-box;
            }
            .timeline-item-dot-content {
                height: 6px;
                line-height: 6px;
                width: 6px;
                position: relative;
                .timeline-item-dot {
                    position: relative;
                    margin-top: unset;
                    top: unset;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    box-sizing: border-box;
                    background-color: #305e91;
                    margin-top: -50%;
                }
            }
        }
        .timeline-item-content-wrapper {
            position: relative;
            margin-top: 16px;
            margin-left: 0;
            .row-justify-start {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: flex-start;
                .imgB {
                    margin-right: 16px;
                    margin-bottom: 12px;
                    border-style: none;
                }
            }
        }
    }
}
