@import "../index";

@keyframes loopCircle {
  0% {
    transform: rotate(0deg)
  }
  5% {
    transform: rotate(90deg)
  }
  25% {
    transform: rotate(90deg)
  }
  30% {
    transform: rotate(180deg)
  }
  50% {
    transform: rotate(180deg)
  }
  55% {
    transform: rotate(270deg)
  }
  75% {
    transform: rotate(270deg)
  }
  80% {
    transform: rotate(1turn)
  }
  to {
    transform: rotate(1turn)
  }
}

@mixin UpDownAnime($position) {
  @keyframes upDown-#{$position} {
    0% {
      #{$position}: 0;
    }
    17% {
      #{$position}: 0;
    }

    50% {
      #{$position}: 50%;
      transform: scale(1.3, 1.3);
    }
    83% {
      #{$position}: 0;
    }
    100% {
      #{$position}: 0;
    }
  }
}

@include UpDownAnime('top');
@include UpDownAnime('right');
@include UpDownAnime('left');
@include UpDownAnime('bottom');


$mediumParam: "medium", 20px, 8px;
$largeParam: "large", 32px, 12px;

$allSize: ($mediumParam), ($largeParam);


$animationDuration: 5.6s;
.lg-loading-a-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.lg-loading-tip-align-right {
    flex-direction: row;

    .lg-loading-tip {
      margin-left: 10px;
    }
  }

  &.lg-loading-tip-align-bottom {
    flex-direction: column;

    .lg-loading-tip {
      margin-top: 10px;
    }
  }

  @each $sizeName, $squareSideLength, $dotRadius in $allSize {
    &.lg-loading-size-#{$sizeName} {
      .lg-loading-anime {
        width: $squareSideLength;
        height: $squareSideLength;
      }

      $marginLength: -$dotRadius / 2;

      .lg-loading-dot-top {
        width: $dotRadius;
        height: $dotRadius;
        margin-left: $marginLength;
        margin-top: $marginLength;
      }

      .lg-loading-dot-right {
        width: $dotRadius;
        height: $dotRadius;
        margin-top: $marginLength;
        margin-right: $marginLength;
      }

      .lg-loading-dot-bottom {
        width: $dotRadius;
        height: $dotRadius;
        margin-bottom: $marginLength;
        margin-left: $marginLength;
      }

      .lg-loading-dot-left {
        width: $dotRadius;
        height: $dotRadius;
        margin-top: $marginLength;
        margin-left: $marginLength;
      }
    }
  }

  .lg-loading-anime {
    width: 30px;
    height: 30px;
    position: relative;
    box-sizing: border-box;
    animation-name: loopCircle;
    animation-duration: $animationDuration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;

    @mixin loadingDot {
      position: absolute;
      border-radius: 50%;
      background: $color_s1;
      animation-duration: $animationDuration * 0.25;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }

    .lg-loading-dot-top {
      @include loadingDot;
      left: 50%;
      top: 0;
      animation-name: upDown-top;
    }

    .lg-loading-dot-right {
      @include loadingDot;
      right: 0;
      top: 50%;
      animation-name: upDown-right;
      opacity: 0.8;
    }

    .lg-loading-dot-bottom {
      @include loadingDot;
      left: 50%;
      bottom: 0;
      animation-name: upDown-bottom;
      opacity: 0.7;
    }

    .lg-loading-dot-left {
      @include loadingDot;
      left: 0;
      top: 50%;
      animation-name: upDown-left;
      opacity: 0.6;
    }
  }

  .lg-loading-tip {
    color: $color_s1;
    font-size: 14px;
  }
}

@keyframes load {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35
  }
  to {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124
  }
}

@keyframes rotate {
  to {
    transform: rotate(1turn)
  }
}

.lg-loading-b-root {

  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;

  .lg-loading-tip {
    margin-left: 5px;
    margin-top: 5px;
    color: $color_s1;
    font-size: 14px;
  }

  .left-start-color-0 {
    stop-color: $color_s1;
  }

  .left-start-color-1 {
    stop-color: lighten($color_s1, 40%);
  }

  .right-start-color-0 {
    stop-color: #fff;
  }

  .right-start-color-1 {
    stop-color: lighten($color_s1, 40%);
  }

  .top {
    fill: $color_s1;
  }

  .lg-loading-b-circle-anime {
    animation: load 1s linear infinite;
    transform-origin: center center;
  }

  .lg-loading-anime-b-wrapper {
    position: relative;

    .circular {
      animation: rotate 2s linear infinite;
      height: 30px;
      width: 30px;
      transform-origin: center center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    .lg-loading-anime-b {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: dash 1.5s ease-in-out infinite;
      stroke-linecap: round;
      stroke: $color_s1;
    }
  }
}

.lg-progress-root {
  display: flex;
  align-items: center;

  .lg-progress-line {
    width: 300px;
    height: 5px;
    background-color: #ebeef5;
    border-radius: 100px;

    &.lg-progress-line-innerText {
      height: 26px;
    }

    .lg-progress-high-light {
      height: 100%;
      background-color: #409eff;
      border-radius: 100px;
      transition: width 0.6s ease;
      color: #fff;
      font-size: 12px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &.lg-progress-status-success {
        background-color: #67c23a;
      }

      &.lg-progress-status-warning {
        background-color: #e6a23c;
      }

      &.lg-progress-status-exception {
        background-color: #f56c6c;
      }
    }
  }

  .lg-progress-outer-text {
    margin-left: 5px;
    color: #606266;
    font-size: 14px;
  }

  .loading-icon-gantanhao:before {
    margin-left: 5px;
    color: #e6a23c;
  }

  .loading-icon-check-circle:before {
    margin-left: 5px;
    color: #67c23a;
  }

  .loading-icon-close-circle {
    margin-left: 5px;
    color: red;
  }
}


@each $skin, $color, $imgColor, $colorHover in $all_colors {
  #{$skin} {
    .lg-loading-a-root {
      .lg-loading-anime {
        .lg-loading-dot-top, .lg-loading-dot-right, .lg-loading-dot-bottom, .lg-loading-dot-left {
          background: $color;
        }
      }

      .lg-loading-tip {
        color: $color;
      }
    }

    .lg-loading-b-root {
      .lg-loading-tip {
        color: $color;
      }

      .left-start-color-0 {
        stop-color: $color;
      }

      .left-start-color-1 {
        stop-color: lighten($color, 40%);
      }

      .right-start-color-0 {
        stop-color: #fff;
      }

      .right-start-color-1 {
        stop-color: lighten($color, 40%);
      }

      .top {
        fill: $color;
      }

      .lg-loading-anime-b-wrapper {
        .lg-loading-anime-b {
          stroke: $color;
        }
      }
    }
  }
}

