@import "../index";

@keyframes loopCircle {
  0% {
    transform: rotate(0deg)
  }
  5% {
    transform: rotate(90deg)
  }
  25% {
    transform: rotate(90deg)
  }
  30% {
    transform: rotate(180deg)
  }
  50% {
    transform: rotate(180deg)
  }
  55% {
    transform: rotate(270deg)
  }
  75% {
    transform: rotate(270deg)
  }
  80% {
    transform: rotate(1turn)
  }
  to {
    transform: rotate(1turn)
  }
}

@mixin UpDownAnime($position){
  @keyframes upDown-#{$position} {
    0%{
      #{$position}: 0;
    }
    17%{
      #{$position}: 0;
    }
    50%{
      #{$position}: 50%;
    }
    83%{
      #{$position}: 0;
    }
    100%{
      #{$position}: 0;
    }
  }
}

@include UpDownAnime('top')
@include UpDownAnime('right')
@include UpDownAnime('left')
@include UpDownAnime('bottom')


$animationDuration: 5.6s;

.lg-loading-root {
  width: 30px;
  height: 30px;
  //border: 1px dotted red;
  //border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  animation-name: loopCircle;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: inline-block;

  $sideLength: 10px;
  @mixin loadingDot{
    position: absolute;
    width: $sideLength;
    height: $sideLength;
    border-radius: 50%;
    background: $color_s1;
    animation-duration: $animationDuration * 0.25;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  $marginLength: -$sideLength / 2;

  .lg-loading-dot-top {
    @include loadingDot;
    left: 50%;
    top: 0;
    margin-left: $marginLength;
    margin-top: $marginLength;
    animation-name: upDown-top;
  }
  .lg-loading-dot-right {
    @include loadingDot;
    right: 0;
    top: 50%;
    margin-top: $marginLength;
    margin-right: $marginLength;
    animation-name: upDown-right;
    opacity: 0.8;
  }
  .lg-loading-dot-bottom {
    @include loadingDot;
    left: 50%;
    bottom: 0;
    margin-bottom: $marginLength;
    margin-left: $marginLength;
    animation-name: upDown-bottom;
    opacity: 0.7;
  }

  .lg-loading-dot-left {
    @include loadingDot;
    left: 0;
    top: 50%;
    margin-top: $marginLength;
    margin-left: $marginLength;
    animation-name: upDown-left;
    opacity: 0.6;
  }
}

@each $skin, $color, $imgColor, $colorHover in $all_colors {
  #{$skin} {
    .lg-loading-root{
      .lg-loading-dot-top, .lg-loading-dot-right, .lg-loading-dot-bottom, .lg-loading-dot-left{
        background: $imgColor;
      }
    }
  }
}

