@import "../index.scss";
* {
    box-sizing: border-box;
}
.lg_checkbox_typeA {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    .lg_checkbox_btn {
        vertical-align: middle;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        border: 1px solid #999;
        border-radius: 50%;
    }
}
.lg_checkbox1.lg_checkbox_typeA {
    .lg_checkbox_btn {
        padding: 2px;
        overflow: hidden;
        div {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}
@each $skin, $color, $imgColor, $colorHover in $all_colors {
    #{$skin} {
        .lg_checkbox_typeA:hover {
            .lg_checkbox_btn {
                border-color: $color;
            }
        }
        .lg_checkbox1.lg_checkbox_typeA {
            .lg_checkbox_btn {
                border-color: $color;
                div {
                    background-color: $color;
                }
            }
        }
        .lg_checkbox1.lg_checkbox_typeA:hover {
            .lg_checkbox_btn {
                border-color: $colorHover;
                div {
                    background-color: $colorHover;
                }
            }
        }
    }
}