.lg_checkbox_typeA {
    height: 30px;
    line-height: 30px;
    .lg_checkbox_btn {
        vertical-align: middle;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        border: 1px solid #999;
        border-radius: 50%;
    }
}
.lg_checkbox1 {
    
}