@mixin scrollStyle($prefix){
  /*滚动条bai整体*/
  #{$prefix}::-webkit-scrollbar{
    width: 5px; /*滚动条宽度*/
  }
  #{$prefix}::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    border-radius: 5px;
  }
  #{$prefix}::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 3px RGB(243, 243, 244);
  }
}