.lg-tag-demo{
  .lg-tag-a-demo{
    margin: 10px 0;
    .lg-tag-a-root{
      margin: 0 10px;
    }
  }

  .lg-tag-b-demo{
    margin: 10px 0;
    .lg-tag-b-root{
      margin: 0 15px;
    }
  }

  .lg-tag-c-demo{
    margin: 10px 0;
    .lg-tag-c-root{
      margin: 0 10px;
    }
  }

  .lg-tag-d-demo{
    margin: 10px 0;
    .lg-tag-d-root{
      margin: 0 10px;
    }
  }
}

