@import "src/css/common";

$classNamePrefix: lg-wise-board-header;

.#{$classNamePrefix}-root {
  .#{$classNamePrefix}-left{
    display: flex;
    align-items: center;
    &-tip {
      margin-left: 16px;
      font-size: 14px;
      color: #999;

      &-total-school {
        color: #f00;
      }
    }
  }

  .#{$classNamePrefix}-right {
    display: flex;
    align-items: center;
    .#{$classNamePrefix}-search{
      margin-right: 10px;
    }
  }
}