@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.lg-loading-demo {
  width: calc(100% - 20px);
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;

  .type-a-loading-frame {
    &:first-child {
      margin-top: 0;
    }

    margin-top: 20px;
    display: flex;
    width: 665px;
    height: 225px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #eee;
    box-sizing: border-box;
    padding: 20px 25px;

    .title {
      @include flexStart;
      height: 40px;
      width: 100%;
    }

    .subtitle {
      @include flexStart;
      height: 20px;
      width: 100%;
      color: #666;
    }

    .split-line {
      height: 10px;
      width: 100%;
      border-bottom: 1px dashed #eee;
    }

    .loading-list {
      flex: 1;
      display: flex;
      align-items: center;
      height: 100px;
      width: 100%;

      [class^='lg-skin-'] {
        margin-right: 20px;
      }
    }
  }

  .normal-use{
    .loading-list {
      align-items: center;
      justify-content: space-evenly;
    }
  }

  .size-demo {
    .loading-size-list {
      height: fit-content;
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
      width: 100%;

      .lg-loading-a-root {
        margin: 0 10px;
      }
    }
  }

  .align-demo {
    .loading-align-list {
      height: fit-content;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 100%;

      .lg-loading-a-root {
        margin: 0 10px;
      }
    }
  }

  .type-b-demo {
    .loading-align-list {
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;

      .lg-loading-b-root {
        margin: 0 30px;
      }
    }
  }

  .type-c-demo {
    height: 260px;
    .loading-list-c {
      margin-top: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;

      .lg-progress-root {
        margin: 5px 0;
      }
    }
  }

  .type-c-demo-inner {
    height: 300px;
    .loading-list-c {
      margin-top: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;

      .lg-progress-root {
        margin: 5px 0;
      }
    }
  }

}