@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.lg-loading-demo {
  .lg-loading-horizontal-show{
    display: flex;
    justify-content: space-evenly;
  }
  .lg-loading-vertical-show{
    display: flex;
    flex-direction: column;
    .lg-progress-root{
      margin-bottom: 10px;
    }
  }
}