$classNamePrefix: lg-demo-page;

.#{$classNamePrefix}-root {
  margin-left: 50px;
  .#{$classNamePrefix}-header {
    margin-bottom: 6px;

    .#{$classNamePrefix}-title {
      margin-top: 54px;
      font-family: "Microsoft YaHei", serif;
      font-size: 28px;
      color: #1f2f3d;
    }

    .#{$classNamePrefix}-subtitle {
      margin-top: 22px;
      font-family: "Microsoft YaHei", serif;
      font-size: 14px;
      color: #5e6d82;
    }

    .#{$classNamePrefix}-import {
      .#{$classNamePrefix}-import-title {
        margin-top: 22px;
        margin-bottom: 10px;
        font-family: "Microsoft YaHei", serif;
      }
    }
  }

  .#{$classNamePrefix}-body {

  }
  .#{$classNamePrefix}-footer {
    margin-top: 60px;
    .#{$classNamePrefix}-interface {
      .#{$classNamePrefix}-interface-title {
        margin-top: 22px;
        margin-bottom: 10px;
        font-family: "Microsoft YaHei", serif;
      }
    }
  }
}