.clear::before,
.clear::after {
    display: block;
    content: "";
    clear: both;
}

.lg_tabs_container {
    width: 800px;
}

.lg_tabs_item_cont_flex {
    display: flex;
    justify-content: space-around;
}

.lg_menu_b {
    width: 200px;
    float: left;
    margin-right: 30px;

    .lg_menu_b_title {
        color: #8492a6;
        font-family: Helvetica Neue;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
    }
}